.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #F4F4F4;
}

.main-layout {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.sidebar {
  width: 444px;
  flex-shrink: 0;
  margin-top: 0;
}

.main {
  background-color: #F4F4F4;
  padding-bottom: 130px;
}

.content {
  flex: 1;
}

.filters {
  margin-top: 0;
  margin-bottom: 0;
}

.subscription {
  margin-top: 48px;
  margin-bottom: 24px;
}

.is-hidden {
  display: none !important;
}