.filters {
  padding-top: 48px;
}


.filters-top {
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 48px;


}


/* Tabs list */
.filters-tabs {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  padding: 0;
  margin: 0 0 16px;
}

/* Buttons */
.filter-tab {
  padding: 6px 12px;
  border: none;
  background: transparent;
  font-size: 14px;
  color: rgba(36, 36, 36, 0.6);
  cursor: pointer;
  position: relative;
}

/* Active tab */
.filter-tab.is-active {
  color: #242424;
  font-weight: 500;
}

.filter-tab.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #242424;
  border-radius: 2px;
}

/* Hover */
.filter-tab:hover {
  color: #242424;
}

/* Search */
.search-form {
  width: 280px;

}

.search-form input {
  width: 100%;
  max-width: 300px;
  padding: 10px 14px;
  border-radius: 999px;
  border: 1px solid rgba(36, 36, 36, 0.3);
  font-size: 14px;
}

.filters-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 24px;
}

/* Card */
.filter-item {
  position: relative;
  height: 180px;
  border-radius: 16px;
  border: none;
  padding: 0;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  overflow: hidden;
}

/* Dark overlay */
.filter-item__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
}

.filter-item__text {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4px;
  text-align: center;
  padding: 0 12px;
}

/* TITLE */
.filter-item__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

/* SUBTITLE */
.filter-item__subtitle {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

/* Hover */
.filter-item:hover .filter-item__overlay {
  background: rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 1199px) {
  .filters-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .filters-content {
    grid-template-columns: 1fr;
  }
}