<section class="filters">
  <div class="filters-header">
    <h2 class="exercises-title">Exercises<span class="subcategory-span"></span></h2>

    <div class="filters-controls">
      <form class="search-form is-hidden">
        <div class="search-input-wrapper">
          <input type="text" name="keyword" placeholder="Search" autocomplete="off" />
          <button type="submit" class="search-btn">
            <svg class="search-icon" width="18" height="18">
              <use href="./img/icons/search.svg#icon"></use>
            </svg>
          </button>
        </div>
      </form>
      <ul class="filters-tabs">
        <li>
          <button class="filter-tab is-active" data-filter="Muscles">
            Muscles
          </button>
        </li>
        <li>
          <button class="filter-tab" data-filter="Body parts">
            Body parts
          </button>
        </li>
        <li>
          <button class="filter-tab" data-filter="Equipment">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>