<footer class="footer">
  <div class="container footer__container">

    <div class="footer__brand">
      <a href="./index.html" class="footer__logo" aria-label="Logo">
        <img src="./img/logo_footer.png" alt="Your Energy" width="132" height="24" />
      </a>

      <div class="footer__socials">
        <ul class="socials">
          <li class="socials__item">
            <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"
              class="socials__link">
              <svg class="socials__icon" width="28" height="28">
                <use href="./img/icons/facebook (2).svg#icon"></use>
              </svg>
            </a>
          </li>

          <li class="socials__item">
            <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
              aria-label="Instagram" class="socials__link">
              <svg class="socials__icon" width="28" height="28">
                <use href="./img/icons/instagram (2).svg#icon"></use>
              </svg>
            </a>
          </li>

          <li class="socials__item">
            <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="YouTube"
              class="socials__link">
              <svg class="socials__icon" width="28" height="28">
                <use href="./img/icons/youtube (2).svg#icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="footer__main-content">
      <h2 class="footer__text">
        Transforming your body <br class="desktop-only">
        shape with us
      </h2>

      <div class="footer__subscribe">
        <p class="footer__subtitle">
          Subscribe and learn about new exercises!
        </p>

        <form class="footer__form">
          <input type="email" class="subscription__input" placeholder="Email" name="email" required />
          <button type="submit" class="subscription__button">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container footer__bottom-wrapper">
    <div class="footer__bottom">
      <div class="footer__copyright-wrapper">
        <p class="copyright">Your Energy. All rights reserved.</p>
      </div>

      <div class="footer__links-wrapper">
        <div class="footer__links">
          <a href="#">Privacy Policy</a>
          <span>/</span>
          <a href="#">Terms of Service</a>
        </div>
      </div>

      <div class="footer__year-wrapper">
        <p class="year">©2023</p>
      </div>
    </div>
  </div>
</footer>