<footer class="footer">
  <div class="container footer__container">
    <!-- LEFT -->
    <div class="footer__brand">
      <p class="footer__logo">YOUR ENERGY</p>

      <p class="footer__text">
        Transforming your body shape with us
      </p>
    </div>

    <!-- RIGHT -->
    <div class="footer__subscribe">
      <p class="footer__subtitle">
        Subscribe and learn about new exercises!
      </p>

      <form class="footer__form">
        <input type="email" class="subscription__input" placeholder="Email"  name="email" required />
        <button type="submit" class="subscription__button">
          Send
        </button>
      </form>
    </div>
  </div>

  <div class="footer__bottom">
    <p>©2023 Your Energy. All rights reserved.</p>

    <div class="footer__links">
      <a href="#">Privacy Policy</a>
      <span>/</span>
      <a href="#">Terms of Service</a>
    </div>
  </div>
</footer>