<footer class="footer">
  <div class="container footer__container">

    <!-- LEFT -->
    <div class="footer__brand">
      <h3 class="footer__logo">YOUR ENERGY</h3>

      <div class="footer__socials">
        <a href="#" class="social-icon">
          <img src="./img/icons/facebook (2).svg" alt="Facebook" />
        </a>
        <a href="#" class="social-icon">
          <img src="./img/icons/instagram (2).svg" alt="Instagram" />
        </a>
        <a href="#" class="social-icon">
          <img src="./img/icons/youtube (2).svg" alt="Youtube" />
        </a>
      </div>
    </div>

    <!-- CENTER -->
    <div class="footer__center">
      <h2 class="footer__text">
        Transforming your <span class="italic">body</span> shape with us
      </h2>
    </div>

    <!-- RIGHT -->
    <div class="footer__subscribe">
      <p class="footer__subtitle">
        Subscribe and learn about new exercises!
      </p>

      <form class="footer__form">
        <input type="email" class="subscription__input" placeholder="Email" name="email" required />
        <button type="submit" class="subscription__button">
          Send
        </button>
      </form>
    </div>
  </div>

  <div class="container footer__bottom-wrapper">
    <div class="footer__bottom">
      <p class="copyright">Your Energy. All rights reserved.</p>

      <div class="footer__links">
        <a href="#">Privacy Policy</a>
        <span>/</span>
        <a href="#">Terms of Service</a>
      </div>

      <p class="year">©2023</p>
    </div>
  </div>
</footer>