
<header class="header">
  <div class="container">
  <div class="container header__container">
    <!-- LOGO -->
    <a href="./index.html" class="header__logo">
      YOUR ENERGY
    </a>

    <!-- NAVIGATION -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li>
          <a href="./index.html" class="header__nav-link is-active">
            Home
          </a>
        </li>
        <li>
          <a href="#" class="header__nav-link">
            Favorites
          </a>
        </li>
      </ul>
    </nav>

    <!-- SOCIAL -->
    <ul class="header__socials">
      <li>
        <a href="#" aria-label="Facebook" class="header__social-link">
          f
        </a>
      </li>
      <li>
        <a href="#" aria-label="Instagram" class="header__social-link">
          i
        </a>
      </li>
      <li>
        <a href="#" aria-label="YouTube" class="header__social-link">
          y
        </a>
      </li>
    </ul>
  </div>
  </div>
</header>