<section class="hero">
  <div class="container hero__container">
    <div class="hero__top">
      <div class="hero__content">
        <h1 class="hero__title">
          <svg class="hero__star" width="60" height="60" viewBox="0 0 60 60">
            <use href="./img/icons/sun.svg#icon"></use>
          </svg>Get <i>Body</i> in shape, <br> Stay healthy
        </h1>
        <p class="hero__text">
          Transform your physique and embrace a healthier lifestyle with
          our comprehensive fitness and nutrition support.
        </p>
      </div>

      <div class="hero__aside">
        <div class="hero__small-image-wrapper">
          <img src="./img/desk_x1_02.webp" srcset="./img/Desk_x2_02.webp 2x" alt="Workout" class="hero__small-image" />
        </div>


      </div>
    </div>

    <div class="hero__main-image-wrapper">
      <picture>
        <source srcset="./img/mob_x1.webp 1x, ./img/mob_x2.webp 2x" media="(max-width: 767px)">
        <source srcset="./img/tab_x1_02.webp 1x, ./img/tab_x2_02.webp 2x"
          media="(min-width: 768px) and (max-width: 1439px)">
        <img src="./img/desk_x1.webp" srcset="./img/Desk_x2.webp 2x" alt="Training" class="hero__main-image" />
      </picture>
    </div>

    <ul class="hero__tags">
      <li class="hero__tag">#Sport</li>
      <li class="hero__tag">#Healthy</li>
      <li class="hero__tag">#Workout</li>
      <li class="hero__tag">#Diet</li>
    </ul>
  </div>
</section>