<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Get Body in shape,<br />
        Stay healthy
      </h1>

      <p class="hero__text">
        Transform your physique and embrace a healthier lifestyle with
        our comprehensive fitness and nutrition support.
      </p>
    </div>

    <div class="hero__image-wrapper">
      <img src="./img/desk_x1_02.webp" srcset="./img/desk_x2_02.webp 2x" alt="Legs" class="hero__image" />
    </div>
    <div class="hero__image-wrapper">
      <img src="./img/desk_x1.webp" srcset="./img/desk_x2.webp 2x" alt="Two women"
        class="hero__image_main" />
    </div>
  </div>
</section>