<div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="mobile-menu__container">
        <button class="mobile-menu__close js-close-menu" aria-label="Close menu">
            <svg width="24" height="24">
                <use href="./img/icons/close.svg#icon"></use>
            </svg>
        </button>

        <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="./index.html" class="mobile-menu__link">Home</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="./favorites.html" class="mobile-menu__link">Favorites</a>
                </li>
            </ul>
        </nav>

        <ul class="socials">
            <li class="socials__item">
                <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer"
                    aria-label="Facebook" class="socials__link">
                    <svg class="socials__icon" width="28" height="28">
                        <use href="./img/icons/facebook (2).svg#icon"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
                    aria-label="Instagram" class="socials__link">
                    <svg class="socials__icon" width="28" height="28">
                        <use href="./img/icons/instagram (2).svg#icon"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="YouTube"
                    class="socials__link">
                    <svg class="socials__icon" width="28" height="28">
                        <use href="./img/icons/youtube (2).svg#icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>