<div class="modal is-hidden">
  <div class="modal__backdrop"></div>

  <div class="modal__content">
    <button class="modal__close">×</button>

    <div class="modal__body">
      <!-- LEFT -->
      <div class="modal__image">
        <img class="modal-gif" alt="" />
      </div>

      <!-- RIGHT -->
      <div class="modal__info">
        <h2 class="modal-title"></h2>

        <div class="modal__rating">
          <span class="modal-rating"></span>
        </div>

        <div class="modal__divider"></div>


        <ul class="modal__meta">
          <li>
            <span>Target</span>
            <br>
            <strong class="modal-target"></strong>
          </li>
          <li>
            <span>Body part</span>
            <br>
            <strong class="modal-bodypart"></strong>
          </li>
          <li>
            <span>Equipment</span>
            <br>
            <strong class="modal-equipment"></strong>
          </li>
          <li>
            <span>Popular</span>
            <br>
            <strong class="modal-popularity"></strong>
          </li>
          <li>
            <span>Burned calories</span>
            <br>
            <strong class="modal-calories"></strong>
            <strong>/</strong>
            <strong class="modal-time"></strong>
          </li>
        </ul>

        <div class="modal__divider"></div>

        <p class="modal-description"></p>

        <div class="modal__actions">
          <button class="btn-primary">
            Add to favorites ♡
          </button>

          <button class="btn-outline" type="button">
            Give a rating
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
