<section class="quote">
  <div class="quote-header">
    <div class="quote-header-left">
      <div class="quote-icon-wrapper">
        <svg width="34" height="32" viewBox="0 0 34 32">
          <use href="./img/icons/human.svg#icon-human"></use>
        </svg>
      </div>
      <h3 class="quote-card-title">Quote of the day</h3>
    </div>
    <svg class="quote-commas" width="20" height="20" viewBox="0 0 24 24">
      <use href="./img/icons/inverted commas.svg#icon-quotes"></use>
    </svg>
  </div>
  <div class="quote-content">
    <p class="quote-text">Loading quote...</p>
    <p class="quote-author"></p>
  </div>
</section>

<div class="sidebar-img-wrapper">
  <picture>
    <source srcset="./img/mob_x1_02.webp 1x, ./img/mob_x2_02.webp 2x" media="(max-width: 767px)">
    <img class="sidebar-img" src="./img/desk_x1_06.webp" srcset="./img/desk_x2_06.webp 2x" alt="Two women training" />
  </picture>
</div>

<div class="info-card">
  <div class="info-card-header">
    <div class="info-card-icon-wrapper">
      <svg width="34" height="32" viewBox="0 0 34 32">
        <use href="./img/icons/news.svg#icon-news"></use>
      </svg>
    </div>
    <div class="info-card-title-group">
      <h3 class="info-card-title">110 min</h3>
      <p class="info-card-subtitle">Daily norm of sports</p>
    </div>
  </div>
  <div class="info-card-content">
    <p class="info-card-text">
      The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity
      throughout
      the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it
      might
      seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled
      benefits
      to
      physical health, mental well-being, and overall quality of life.
    </p>
  </div>
</div>