<ul class="socials">
    <li class="socials__item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"
            class="socials__link">
            <svg class="socials__icon" width="24" height="24">
                <use href="./img/icons/facebook.svg#icon"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"
            class="socials__link">
            <svg class="socials__icon" width="24" height="24">
                <use href="./img/icons/instagram.svg#icon"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="YouTube"
            class="socials__link">
            <svg class="socials__icon" width="24" height="24">
                <use href="./img/icons/youtube.svg#icon"></use>
            </svg>
        </a>
    </li>
</ul>